{
    "description": "Example bundles repositories",

    "root": "/home/tch/Devel/actools",

    "user": "tch",

    "server": "localhost",

    "list": [
        {
            "name": "arm",
            "url": "http://localhost:8000/some/deeper/path/",
            "path": "/home/tch/Devel/actools/some/deeper/path"
       }
    ] 
}
